header {
  display: flex;
  justify-content: space-between;
}

header > * { 
  /* Uncomment the following line and see what happens! Inspect the flexbox to see what's happening. */
  /* flex: auto; */
}

input {
  display: none;
}

nav ul {
  display: none;
}

input:checked + ul {
  display: block;
}

@media screen and (width > 40em) {
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  label {
    display: none;
  }
}
/* Make header visible */
header {
  border: 1px solid blue;
}

/* Primary Navigation */
nav a {
  display: block;
  padding: 1rem;

  text-align: center;
  text-decoration: none;
}
