body {
  background-color: turquoise;
}


p {
  padding: 2rem;
}

main p {
  margin-left: 2rem;
}

.banner-image {
  background-image: url(../images/hari-kari.png);
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.about-banner {
  max-width: 25ch;
  background-color: hsl(0, 0%, 3%);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
  margin: auto;
  /*So that the box doesn't touch the top*/
  margin-top: 5rem;
  text-align: center;
  }


.nav-main {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(6, 6, 6);
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
}


.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
}

.nav-main li {
  list-style: none;
  line-height: 60px;
}

.nav-main li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: hsla(126, 100%, 85%, 1);
  font-size: 22px;
}

.nav-main li a:hover {
  background-color: hsla(126, 100%, 85%, 1);
  color: black;

}


.nav-sidebar {
  font-size: 18px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 60px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  background-color: black;
  z-index: 1000;
  transition: 0.4s ease-in-out;
  visibility: hidden;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.4s ease-in-out;

}

.nav-sidebar ul li a:hover {
  background-color: hsla(126, 100%, 85%, 1);
  color: black;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: hsla(126, 100%, 85%, 1);
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
  visibility: hidden;
}

.btn-toggle-nav:hover{
  opacity: 0.5;
}

.logo {
  display: inline-flex;
  flex-wrap: wrap;
  color: aliceblue;
  padding-left: 20vh;
  font-size: 3rem;
  float: right;
}

a:is(:link, :active, :visited).active {
  color: black;
  text-decoration: underline;
  color: hsla(126, 100%, 85%, 1);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}


@media only screen and (max-width: 850px) {
  .btn-toggle-nav {
    visibility: visible;
  }

  .nav-main ul li a{
    visibility: hidden;
  }

  .nav-sidebar {
    visibility:visible ;
  }

  
}
