body {
  background-color: turquoise;
  min-height: 100vh;
}


.about-h {
  margin-top: 10vh;
  padding: auto;
}


h2 {
  text-align: center;
}

p {
  padding: 2rem;
}

main p {
  margin-left: 2rem;
}

.banner-image {
  background-image: url(../images/hari-kari.png);
  height: 75vh;
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}


.nav-main {
  top: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(6, 6, 6);
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
}


.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  margin-left: 0;
}


.nav-main li {
  list-style: none;
  line-height: 60px;
}

.nav-main li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: hsla(126, 100%, 85%, 1);
  font-size: 22px;
}

.nav-main li a:hover {
  background-color: hsla(126, 100%, 85%, 1);
  color: black;

}


.nav-sidebar {
  font-size: 18px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 60px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  background-color: black;
  z-index: 1000;
  transition: 0.4s ease-in-out;
  visibility: hidden;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a{
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.4s ease-in-out;

}

.nav-sidebar ul li a:hover {
  background-color: hsla(126, 100%, 85%, 1);
  color: black;
}

.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-color: hsla(126, 100%, 85%, 1);
  background-image: url(../images/menu.png);
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
  cursor: pointer;
  visibility: hidden;
}

.btn-toggle-nav:hover{
  opacity: 0.5;
}

.logo {
  display: flex;
  position: absolute;
  justify-content: right;
  color: hsla(126, 100%, 85%, 1);
  font-size: 3rem;
  padding-right: 1rem;
  left: 43vw;
}

a:is(:link, :active, :visited).active {
  color: black;
  text-decoration: underline;
  color: hsla(126, 100%, 85%, 1);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: auto;
  position: sticky;
  top: 100%; 
}


@media only screen and (max-width: 950px) {
  .btn-toggle-nav {
    visibility: visible;
  }

  .nav-main ul li a{
    visibility: hidden;
  }

  .nav-sidebar {
    visibility:visible ;
  }

  .logo {
    left: 38vw;
  }

  p {
    padding-left: 4rem;
  }
  
}

@media only screen and (max-width: 635px) {
  .logo {
    left: 35vw;
  }
}


/*Breakpoint*/
.content-index {
  display: inline-block;
  text-align: center;
}

.main-index {
  margin: 0 auto;
  float: none;

}


.pfp {
  display: block;
  width: 100%;
  height: 20rem;
  margin-top: 1ch;
  
  /*object-fit is contained as to prevent distortions of the image*/
  object-fit: contain;
  clip-path: circle(20%);
  z-index: 10000;
}


