@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sedgwick Ave Display', cursive, Arial, Helvetica, sans-serif;
  

}



body {
  line-height: 1.5;
  font-size: 22px;
}

h2 {
  font-family: 'Anton', sans-serif;

}

p {
  max-width: 40ch;
  font-family: 'Playfair Display', serif;

}

.page-title{
  font-size: 5rem;
}

.about-banner .info h1 {
  font-size: 3rem;
}

.about-banner .info h2 {
  font-size: 1.2rem;
}


.about-banner .info p {
  font-size: 20px;
}


.main-index {
  font-size: 20px;
}